<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dw.st.mapper.UserInfoMapper">

	<insert id="add" parameterType="cn.dw.st.domain.UserInfo">
	
		insert into tbl_user_info
		<trim prefix="("  suffix=")" suffixOverrides=",">
			<if test="loginId !=null and loginId !='' ">
				login_id,
			</if>
			<if test="userName !=null and userName !='' ">
				user_name,
			</if>
			<if test="loginPwd !=null and loginPwd !='' ">
				login_pwd,
			</if>
			<if test="sex !=null ">
				sex,
			</if>
			<if test="telNo !=null and telNo !='' ">
				tel_no,
			</if>
			<if test="identifyId !=null and identifyId !='' ">
				identify_id,
			</if>
			<if test="remark !=null and remark !='' ">
				remark,
			</if>
		</trim>
		
		
		<trim prefix=" values("  suffix=")" suffixOverrides=",">
			<if test="loginId !=null and loginId !='' ">
				#{loginId}, 
			</if>
			<if test="userName !=null and userName !='' ">
				#{userName},
			</if>
			<if test="loginPwd !=null and loginPwd !='' ">
				#{loginPwd},
			</if>
			<if test="sex !=null ">
				#{sex},
			</if>
			<if test="telNo !=null and telNo !='' ">
				#{telNo},
			</if>
			<if test="identifyId !=null and identifyId !='' ">
				#{identifyId},
			</if>
			<if test="remark !=null and remark !='' ">
				#{remark},
			</if>
		</trim>
	
	</insert>
	
	
	<select id="login" parameterType="cn.dw.st.domain.UserInfo" resultType="int">
		
			select count(1) from tbl_user_info  where login_id = #{loginId} and login_pwd = #{loginPwd}
	
	</select>
	
	
	<resultMap type="cn.dw.st.domain.UserInfo" id="resultMap">
		<id column="id" property="id" />
		<result column="login_id" property="loginId"/>
		<result column="login_pwd" property="loginPwd"/>
		<result column="user_name" property="userName"/>
		<result column="tel_no" property="telNo"/>
		<result column="identify_id" property="identifyId"/>
	</resultMap>
	
	<select id="query" parameterType="cn.dw.st.domain.UserInfo" resultMap="resultMap">
		select * from tbl_user_info
		<where>
			<if test="userName !=null  and userName !='' ">
				and user_name = #{userName}
			</if>
			<if test="telNo !=null  and telNo !='' ">
				and tel_no = #{telNo}
			</if>
		</where>
	</select>
</mapper>